.main-section {
  z-index: 1;
}

.bottom-l:before {
  @apply bg-white;
  content: "";
  width: 1px;
  height: 9px;
  @apply absolute;
  top: -4px;
}
.bottom-l:after {
  @apply bg-white;
  content: "";
  width: 9px;
  height: 1px;
  @apply absolute;
  left: -4px;
}

.bottom-l-d:before {
  @apply bg-emerald-400;
  content: "";
  width: 1px;
  height: 9px;
  @apply absolute;
  top: -4px;
}
.bottom-l-d:after {
  @apply bg-emerald-400;
  content: "";
  width: 9px;
  height: 1px;
  @apply absolute;
  left: -4px;
}
